* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  margin-top: 20px;
}
